<div class=" container text-center blu border border-dark my-3">
<h1><%= @album.title %></h1>

<p><%= @album.description %></p>
<div class="my-2">
<% @album.images.each do |image|%>
  <%= image_tag(image ,style: "width:10%") %> 
  <% if user_signed_in?%>
  <%= link_to "Delete", delete_upload_album_url(@album ,upload_id: image.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" } ,class: "btn btn-danger bor mt-2"%><%end%>
<% end%>
</div>

      
<div class="text-center">
<br>
<!--<%if user_signed_in?%>
  <%= link_to "Edit", edit_album_path(@album) ,class: "btn btn-primary mt-2" %>
  <%= link_to "Destroy", album_path(@album),
                  method: :delete,
                  data: { confirm: "Are you sure?" } ,class: "btn btn-primary mt-2"%>
                  <%end%> -->
</div>
</div>